.logo-container {
  margin-bottom: 3em;
}

.form-buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-right: -0.5em;
}

.form-container>form>div {
  align-items: center;
}

.form-buttons-container {
  display: flex;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 5px;
}

.title-container>p {
  display: flex;
  flex-direction: column;
  padding-right: 1em;
  padding-bottom: 3px;
  font-size: 0.9em;
}

.form-func-title {
  color: white;
  background-color: rgb(0, 152, 204);
  font-style: italic;
  padding: 0.5em;
  padding-inline: 1em;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.btn-next {
  left: 45px;
  top: 10px;
}

.accept-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  color: white;
  font-weight: normal;
  padding: 10px;
  padding-inline: 15px;
  background-color: rgb(0, 152, 204);
}

.span-email {
  font-weight: bold;
  box-shadow: 0 0px 12px black;
  padding-inline: 3px;
}

.checkbox-green {
  display: inline-block;
  height: 14px;
  line-height: 14px;
  padding-top: 2px;
  margin-right: 10px;
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  user-select: none;
}

.checkbox-green .checkbox-green-switch {
  display: inline-block;
  height: 15px;
  width: 44px;
  box-sizing: border-box;
  position: relative;
  border-radius: 2px;
  background: #848484;
  transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  border-radius: 6px;
}

.checkbox-green .checkbox-green-switch:before {
  content: attr(data-label-on);
  display: inline-block;
  box-sizing: border-box;
  width: 15px;
  position: absolute;
  top: 0;
  left: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #848484;
  font-size: 0px;
  line-height: 28px;
}

.checkbox-green .checkbox-green-switch:after {
  content: attr(data-label-off);
  display: inline-block;
  box-sizing: border-box;
  width: 22px;
  border-radius: 1px;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  background: white;
  line-height: 13px;
  font-size: 0px;
  color: white;
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  border-radius: 6px;
}

.checkbox-green input[type="checkbox"] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-green input[type="checkbox"]:checked + .checkbox-green-switch {
  background-color: #70c767;
}

.checkbox-green input[type="checkbox"]:checked + .checkbox-green-switch:before {
  content: attr(data-label-off);
  color: #70c767;
  left: 0;
}

.checkbox-green input[type="checkbox"]:checked + .checkbox-green-switch:after {
  content: attr(data-label-on);
  color: white;
  transform: translate3d(20px, 0, 0);
}

/* Hover */
.checkbox-green input[type="checkbox"]:not(:disabled) + .checkbox-green-switch:hover {
  cursor: pointer;
}

.checkbox-green input[type="checkbox"]:not(:disabled) + .checkbox-green-switch:hover:after {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

/* Disabled */
.checkbox-green input[type=checkbox]:disabled + .checkbox-green-switch {
  opacity: 0.6;
  filter: grayscale(50%);
}

/* Focus */
.checkbox-green.focused .checkbox-green-switch:after {
  box-shadow: inset 0px 0px 4px #ff5623;
}

@media (max-width: 600px) {

  .form-buttons-wrapper {
    margin-right: 2px;
  }

  form>p {
	position: relative;
	left: 25px;
	padding-left: 25px;
  }

  .form-buttons-wrapper>p {
    align-self: center;
  }

  .form-func-title {
	padding-inline: 0.5em;
	font-size: 0.8em;
  }

  .btn-next {
	position: relative;
	width: 100%;
	left: 0px;
	margin-top: 0.5em;
  }

  .buttons>p {
	padding-top: 0.4em;
	padding-bottom: 0.9em;
  }

  .accept-wrapper {
    padding-inline: 5px;
  }
}