
.logo-wrapper {
  margin-top: 20px;
}

.logo-container {
  width: fit-content;
}

.logo-container>h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  padding-top: 1.5em;
}

.orders-container {
  font-family: sans-serif;
  width: fit-content;
  background-position: center;
  background: rgb(0, 152, 204);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.orders-container .pagination {
  position: relative;
  height: 45px;
  width: fit-content;
  background: rgb(0, 152, 204);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  border-radius: 10px;
}

.orders-container .pagination li {
  list-style-type: none;
  display: inline-block;
  height: fit-content;
}

.orders-container .pagination li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 45px;
  padding-inline: 15px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
}

.pagination>li:not(:last-child) a {
  border-right: #007ea8 1px solid;
}

.orders-container .pagination li a:hover,
.orders-container .pagination li.active a {
  background: rgba(18, 187, 243, 0.582);
}

.orders-container .pagination li:first-child a:hover {
  border-radius: 10px 0 0 10px;
}

.orders-container .pagination li:last-child a:hover {
  border-radius: 0 10px 10px 0;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(0, 152, 204);
  width: 100%;
  height: 100px;
  margin-bottom: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration-line: none;
  font-weight: bold;
  border-radius: 0 2em 2em 0;
}

.order-price {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 2.9em;
  background: white;
  color: black;
  font-size: 2em;
  margin-right: 0.11em;
  border-radius: 0 0.9em 0.9em 0;
}

.order-price p{
  margin: 0;
}

.order-remove {
  align-self: start;
  width: 20px;
  height: 18px;
  margin-top: 5px;
  margin-right: 8px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.order-remove span {
  color: white;
}

.order-remove:hover {
  background-color: red;
}

.order-data {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  align-content: space-between;
  width: 65%;
  height: 90%;
  padding-left: 0.5em;
  padding-bottom: 5px;
  font-size: 1.5em;
  color: white;
}

.order-data li {
  text-align: start;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 0.5em;
  padding-left: 0;
  flex-grow: 1;
  height: 0;
}

.order>ul {
  padding-left: 2em;
}

.order-date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.order-status {
  position: relative;
  left: 20px;
}

.order-date p{
  margin-bottom: 0;
  font-size: 0.5em;
  font-style: italic;
}

.search-form {
  position: relative;
  right: 60px;
  top: 30px;
  width: max-content;
  font-size: 1.2em;
}

.search {
  position: absolute;
  display: block;
  left: 180px;
  bottom: 275px;
}

.search-button {
  width: 0;
  height: 0;
  padding: 0;
}

.search-button span {
  display: none;
}

.search-submit-button {
  width: 80px;
  height: 40px;
  font: bold 1em Arial, Helvetica, sans-serif;
  color: white;
  background: rgb(0, 152, 204);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.search-submit-button:hover {
  background: rgb(10, 173, 227);
}

.search-submit-button:active {
  color: rgb(189, 204, 209);
  background: rgb(17, 129, 167);
}

.search-form-input {
  border: 5px solid rgb(0, 152, 204);
  border-radius: 5px;
  padding: 6px;
  font-size: 1em;
  margin-left: 5px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.search-form-input:focus-visible {
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

@media (max-width: 1100px) {
  .search {
    position: relative;
    display: none;
    width: 0;
    left: 0;
    bottom: 0;
  }

  .search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    width: 43px;
    height: 43px;
    left: 85px;
    font-size: 1.2em;
    bottom: 10px;
    border-radius: 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.8);
  }

  .search-button span {
    display: block;
    padding-bottom: 2px;
  }

  .search-form {
    font-size: 0.8em;
    top: 20px;
    right: 290px;
    width: 300px;
    padding-top: 40px;
  }

  .search-form-input {
    width: 150px;
  }

  .search-button:hover .search {
    display: block;
    position: absolute;
    right: 50px;
  }

  .search-submit-button {
    position: static;
  }
}


@media (max-width: 700px) {
  .logo-container>h1 {
    font-size: 2em;
  }

  .card-container {
    height: 80px;
    border-radius: 0 1.5em 1.5em 0;
  }

  .order-number {
    font-size: 0.8em;
  }

  .order {
    font-size: 0.4em;
  }

  .order-price {
    font-size: 1.5em;
    height: 3em;
    margin-right: 0.18em;
  }

  .order-date p {
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  .search-button {
    left: 50px;
  }
}
