.form-font a {
  font-size: 14px;
}

.logo-container {
  width: 616px;
}

.form-container {
  width: fit-content;
}

.form-container form {
  width: 100%;
  margin-inline: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.form-login-urls {
  margin-right: 10px;
  margin-top: 10px;
}

.form-login-urls>a:hover {
  color: #5114c3;
}

.form-button {
  margin-top: 0.8em;
}

@media (max-width: 600px) {
  .form-header {
    font-size: 1.5em;
  }

  .error {
    align-self: start;
  }

  .errorlist>li {
    padding-right: 0;
    padding-left: 10px;
    text-align: left;
  }

  .form-new-password>div>div>input {
    margin-right: 5px;
  }

  .new-password-button {
    width: 93%;
  }
}