{% extends 'main/base.html' %}
{% load static %}
{% load users_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_my_orders.css' %}">
{% endblock %}

{% block content %}
<div class="logo-wrapper">
  <div class="logo-container">
      <div class="form-wrapper">
          <div class="form-header form-font">Профиль</div>
          <div class="form-container-profile">
              <div class="form-font form-profile-wrapper">
                  <div class="logout-button">
                      <a href="{% url 'users:logout' %}" title="Выход"></a>
                  </div>
                  <div class="form-inner-wrapper">
                      <div class="username-container">
                          <p>{{ user.username }}</p>
                      </div>
                      {% block profile-form %}
                      {% endblock %}
                  </div>
              </div>
              <div class="form-orders-title form-font">
                  <p>История заказов</p>
              </div>
              <div class="form-orders-wrapper">
              {% get_order_page as pages %}
              {% if pages %}
                <div class="card-wrapper">
                  {% for order in pages %}
                    <div class="card-container">
                      <div class="order-data">
                        <div class="order-number">
                          Заказ №{{ order.order_id }}
                        </div>
                          <div class="order">
                            <ul>
                              {% for title, price in order.get_products %}
                                {% if price %}
                                  <li>{{ title }} - {{ price }} руб.</li>
                                {% endif %}
                              {% endfor %}
                            </ul>
                          </div>
                        <div class="order-date">{{ order.date }}</div>
                      </div>
                      <a href="#{{ order.order_id }}" class="order-remove" title="Удалить заказ"></a>
                      <div id="{{ order.order_id }}" class="modal">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h3 class="modal-title form-font">Вы уверены что хотите удалить заказ №{{ order.order_id }}</h3>
                              <a href="#close" title="Close" class="close">×</a>
                            </div>
                            <div class="modal-body">
                              <form class="modal-form" action="{% url 'users:profile' %}" method="get">
                                <input type="hidden" name="remove-order" value="{{ order.order_id }}">
                                <button type="submit" class="form-button form-font">Да</button>
                                <a href="#close" class="form-button form-font">Нет</a>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="order-price">
                        <p>{{ order.total_price }} &#x20bd;</p>
                      </div>
                    </div>
                  {% endfor %}
                  </div>
                  {% if pages.paginator.count > 3 %}
                  <div class="orders-container">
                      <ul class="pagination">
                        <li>
                          <a href="{% if pages.has_previous %}{% change_params page=pages.previous_page_number %}{% else %}#{% endif %}"
                             class="{% if not pages.has_previous %}disabled{% endif %}">Пред.</a>
                        </li>
                        {% for page in pages.paginator.page_range %}
                        {% if page >= pages.number|add:-2 and page <= pages.number|add:2 %}
                          {% if request.GET.page == None and forloop.first %}
                          <li class="active">
                          {% else %}
                          <li class="{% if pages.number == page %} active disabled{% endif %}">
                          {% endif %}
                            <a href="{% change_params page=page %}">{{ page }}</a>
                          </li>
                        {% endif %}
                        {% endfor %}
                        <li>
                          <a href="{% if pages.has_next %}{% change_params page=pages.next_page_number %}{% else %}#{% endif %}"
                             class="{% if not pages.has_next %}disabled{% endif %}">След.</a>
                        </li>
                      </ul>
                    </div>
                  {% endif %}
                  {% else %}
                    <div class="empty-order-list">
                        <p class="form-font">Список заказов пуст</p>
                        <a class="form-button" href="{% url 'main:new-order' %}">Новый заказ</a>
                    </div>
                  {% endif %}
                </div>
              </div>
              <div id="openModal" class="modal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title form-font">Вы уверены что хотите удалить учётную запись?</h3>
                      <a href="#close" title="Close" class="close">×</a>
                    </div>
                    <div class="modal-body">
                      <form class="modal-form" action="{% url 'users:profile' %}" method="get">
                        <input type="hidden" name="remove-user" value="true">
                        <button type="submit" class="form-button form-font">Да</button>
                        <a href="#close" class="form-button form-font">Нет</a>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}