{% extends 'main/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_auth.css' %}">
{% endblock %}

{% block content %}
<div class="logo-wrapper">
    <div class="logo-container">
        <div class="form-wrapper">
            <div class="form-header form-font">Вход</div>
            <div class="form-container">
                <form class="form-font" method="POST">
                    {% csrf_token %}
                    <div>
                        <div class="input-wrapper">
                            <div class="input-label-container">
                                <label for="id_username">{{ form.username.label }}:</label>
                                <div class="input-container">
                                    <div>
                                        <span class="fa fa-user-circle" aria-hidden="true"></span>
                                    </div>
                                    <input class="form-input"
                                           type="text"
                                           name="username"
                                           placeholder="{{ form.username.label }}"
                                           maxlength="32"
                                           required=""
                                           id="id_username"
                                           value="{% if form.username.value %}{{ form.username.value }}{% endif %}">
                                </div>
                            </div>
                            <div class="error error-username"></div>
                        </div>
                    </div>
                    <div>
                        <div class="input-wrapper">
                            <div class="input-label-container">
                                <label for="id_password">{{ form.password.label }}: </label>
                                <div class="input-container">
                                    <div>
                                        <span class="fa fa-lock" aria-hidden="true"></span>
                                    </div>
                                    <input class="form-input"
                                           type="password"
                                           name="password"
                                           placeholder="{{ form.password.label }}"
                                           required=""
                                           id="id_password"
                                           value="{% if form.password.value %}{{ form.password.value }}{% endif %}">
                                </div>
                            </div>
                            <div class="error" style="height: 24px">
                                <ul class="errorlist">
                                    <li class="error-nonfield"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="login-error">
                    </div>
                    <div>
                        <div class="form-login-urls">
                            <a href="{% url 'users:password-reset' %}">Забыли пароль?</a> | <a href="{% url 'users:registration' %}">Создать аккаунт</a>
                        </div>
                    </div>
                    <button class="form-button" type="submit">Войти</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>    
    $(document).ready(function () {
          $('form').submit(function (e) {
              e.preventDefault();
              $.ajax({
                  data: $(this).serialize(),
                  type: $(this).attr('method'),
                  url: "{% url 'users:login' %}",
                  success: function () {
                      window.location.replace('{% url "main:home" %}');
                  },
                  error: function (response) {
                      $.each(response.responseJSON.errors, function (key, value) {
                          $.each(value, function () {
                              let errorText = $(this)[0].message
                              console.log(errorText)
                              if (errorText.includes('Пожалуйста')) {
                                  errorText = 'Пожалуйста, введите правильные имя пользователя и пароль.'
                              }
                              $('.error-nonfield').text(errorText).css('display', 'block').delay(5000).fadeOut(1000)
                          });
                      })
                  }
              });
              return false;
          });
    })
</script>
{% endblock %}