
{% block content %}
<table border="0" cellpadding="0" cellspacing="0" class="heading_block_mr_css_attr block-4_mr_css_attr" role="presentation" style="box-sizing: border-box;" width="100%">
    <tbody><tr style="box-sizing: border-box;">
        <td class="pad_mr_css_attr" style="padding-bottom: 20px;padding-left: 10px;padding-right: 10px;padding-top: 10px;text-align: center;width: 100%;box-sizing: border-box;">
            <h1 style="margin: 0;color: #ffffff;direction: ltr;font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;font-size: 38px;font-weight: 700;letter-spacing: normal;line-height: 120%;text-align: center;margin-top: 0;margin-bottom: 0;box-sizing: border-box;"><span class="tinyMce-placeholder_mr_css_attr" style="box-sizing: border-box;">Заказ №{}</span></h1>
        </td>
    </tr>
</tbody></table>
<table border="0" cellpadding="0" cellspacing="0" class="paragraph_block_mr_css_attr block-5_mr_css_attr" role="presentation" style="word-break: break-word;box-sizing: border-box;" width="100%">
    <tbody><tr style="box-sizing: border-box;">
        <td class="pad_mr_css_attr" style="padding-bottom: 20px;padding-left: 60px;padding-right: 60px;box-sizing: border-box;">
            <div style="color: #848a96;direction: ltr;font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;font-size: 20px;font-weight: 400;letter-spacing: 0px;line-height: 150%;text-align: center;box-sizing: border-box;" class="MsoNormal_mr_css_attr">
            </div>
            <div>
                <p style="color: #ffffff;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, monospace;font-weight: bold;font-size: 24px; margin-left: 100px;text-align: center;padding-right: 100px;margin-top: -15px"> &#9742; {}</p>
            </div>
            <table style="color: #ffffff;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, monospace;font-weight: bold;font-size: 24px; margin-left: 100px;">
                <tr>
                    <td style="text-align: right;padding-right: 10px;">Бот:</td>
                    <td>{} руб.</td>
                </tr>
                <tr>
                    <td style="text-align: right;padding-right: 10px;">Админ-панель:</td>
                    <td>{} руб.</td>
                </tr>
                <tr>
                    <td style="text-align: right;padding-right: 10px;">База данных:</td>
                    <td>{} руб.</td>
                </tr>
                <tr>
                    <td style="border-bottom: #ffffff 2px solid;padding-top: 10px;"></td>
                    <td style="border-bottom: #ffffff 2px solid;padding-top: 10px;"></td>
                </tr>
                <tr>
                    <td style="text-align: right;padding-right: 10px;">Итого:</td>
                    <td>{} руб.</td>
                </tr>
            </table>
        </td>
    </tr>
</tbody></table>
<table border="0" cellpadding="0" cellspacing="0" class="button_block_mr_css_attr block-6_mr_css_attr" role="presentation" style="box-sizing: border-box;margin-bottom: 100px;margin-top: 30px" width="100%">
    <tbody><tr style="box-sizing: border-box;">
        <td class="pad_mr_css_attr" style="text-align: center;box-sizing: border-box;">
            <div align="center" class="alignment_mr_css_attr" style="box-sizing: border-box;">
                <a href="http://95.216.65.93:23345" style="text-decoration: none;display: inline-block;color: #ffffff;background-color: #29A0DC;border-radius: 4px;width: auto;border-top: 0px solid transparent;font-weight: 400;border-right: 0px solid transparent;border-bottom: 0px solid transparent;border-left: 0px solid transparent;padding-top: 5px;padding-bottom: 5px;font-family: 'Roboto', Tahoma, Verdana, Segoe, sans-serif;font-size: 16px;text-align: center;mso-border-alt: none;word-break: keep-all;box-sizing: border-box;" target="_blank" rel=" noopener noreferrer"><span style="padding-left: 20px;padding-right: 20px;font-size: 16px;display: inline-block;letter-spacing: normal;box-sizing: border-box;"><span style="word-break: break-word;line-height: 32px;box-sizing: border-box;"><strong style="box-sizing: border-box;">Перейти к оплате</strong></span></span></a>
            </div>
        </td>
    </tr>
</tbody></table>
{% endblock %}