{% extends 'main/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_auth.css' %}">
{% endblock %}


{% block content %}
<div class="logo-wrapper">
    <div class="logo-container">
        <div class="form-wrapper">
            <div class="form-header form-font">Восстановление пароля</div>
            <div class="form-container">
                <form class="form-font" method="post">
                {% csrf_token %}
                    <div>
                        <div>
                            <label class="form-label" for="id_email">Email:</label>
                            <input class="form-input" type="email" name="email" maxlength="30" required="" id="id_email" placeholder="Email">
                            <div class="error">{{ form.email.errors }}</div>
                        </div>
                    </div>
                    <button class="form-button" type="submit">Восстановить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
