{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="logo-wrapper">
    <div class="logo-container form-font" style="width: 80%;">
        <h1>Сброс пароля</h1>
        <p style="margin-top: 1em;">Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты. Вы должны получить ее в ближайшее время.</p>
        <p style="margin-top: 0.5em;">Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.</p>
    </div>
</div>
{% endblock %}
