{% extends 'users/base-profile.html' %}

{% block profile-form %}
<form class="form-profile-change" method="post">
    {% csrf_token %}
    <div>
        <div class="input-wrapper">
            <div class="input-label-container">
                <label for="id_old_password">Старый пароль:</label>
                <div class="input-container">
                    <div>
                        <span class="fa fa-lock" aria-hidden="true"></span>
                    </div>
                    <input class="form-input"
                           type="password"
                           name="old_password"
                           required=""
                           id="id_old_password"
                           placeholder="Старый пароль">
                </div>
            </div>
            <div class="error">
                <ul class="errorlist">
                    <li class="error-old_password"></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="input-wrapper">
            <div class="input-label-container">
            <label for="id_new_password1">Новый пароль:</label>
                <div class="input-container">
                    <div>
                        <span class="fa fa-lock" aria-hidden="true"></span>
                    </div>
                    <input class="form-input"
                           type="password"
                           name="new_password1"
                           required=""
                           id="id_new_password1"
                           placeholder="Новый пароль">
                </div>
            </div>
            <div class="error">
                <ul class="errorlist">
                    <li class="error-new_password1"></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <div class="input-wrapper">
            <div class="input-label-container">
            <label for="id_new_password2">Подтверждение пароля:</label>
                <div class="input-container">
                    <div>
                        <span class="fa fa-lock" aria-hidden="true"></span>
                    </div>
                    <input class="form-input"
                           type="password"
                           name="new_password2"
                           required=""
                           id="id_new_password2"
                           placeholder="Подтверждение пароля">
                </div>
            </div>
            <div class="error">
                <ul class="errorlist">
                    <li class="error-new_password2"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="change-password-buttons">
        <a class="form-button" href="{% url 'users:profile' user.pk %}">Назад</a>
        <button class="form-button" type="submit">Сохранить</button>
    </div>
</form>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        $('.form-profile-change').submit(function (e) {
            e.preventDefault();
            $.ajax({
                data: $(this).serialize(),
                type: $(this).attr('method'),
                url: "{% url 'users:password-change' %}",
                success: function () {
                    window.location.replace('{% url "users:password-change-done" %}');
                },
                error: function (response) {
                    $.each(response.responseJSON.errors, function (key, value) {
                        if (key.includes('old')) {
                            value[0].message = 'Ваш старый пароль введён неверно.'
                        }
                        if (value[0].message.includes('короткий')) {
                            value[0].message = 'Введённый пароль слишком короткий.'
                        }
                        $('.error-'+key).text(value[0].message).css('display', 'block').delay(5000).fadeOut(1000);
                    })
                }
            });
            return false;
        });
    })
</script>
{% endblock %}
