{% extends 'users/base-profile.html' %}

{% block profile-form %}
<form class="form-profile-change" method="post">
    {% csrf_token %}
    <div>
        <div>
            <label for="id_old_password">Старый пароль:</label>
            <input class="form-input"
                   type="password"
                   name="old_password"
                   required=""
                   id="id_old_password"
                   placeholder="Старый пароль">
            <div class="error">{{ form.old_password.errors }}</div>
        </div>
    </div>
    <div>
        <div>
            <label for="id_new_password1">Новый пароль:</label>
            <input class="form-input"
                   type="password"
                   name="new_password1"
                   required=""
                   id="id_new_password1"
                   placeholder="Новый пароль">
            <div class="error">{{ form.new_password1.errors }}</div>
        </div>
    </div>
    <div>
        <div>
            <label for="id_new_password2">Подтверждение пароля:</label>
            <input class="form-input"
                   type="password"
                   name="new_password2"
                   required=""
                   id="id_new_password2"
                   placeholder="Подтверждение пароля">
            <div class="error">{{ form.new_password2.errors }}</div>
        </div>
    </div>
    <div class="change-password-buttons">
        <a class="form-button" href="{% url 'users:profile' user.pk %}">Назад</a>
        <button class="form-button" type="submit">Сохранить</button>
    </div>
</form>
{% endblock %}
