{% extends 'users/base-profile.html' %}

{% block profile-form %}
<form class="form-profile" action="{% url 'users:profile' %}" method="post">
  {% csrf_token %}
  <div>
      <input type="hidden" name="username" value="{{ user.username }}">
      <label for="id_first_name">Имя: </label>
      <input type="text"
             class="form-input"
             id="id_first_name"
             name="first_name"
             placeholder="Имя"
             value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
             maxlength="20">
      <div class="error">{{ form.first_name.errors }}</div>
  </div>
  <div>
      <label for="id_last_name">Фамилия: </label>
      <input type="text"
             class="form-input"
             id="id_last_name"
             name="last_name"
             placeholder="Фамилия"
             value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
             maxlength="20">
      <div class="error">{{ form.last_name.errors }}</div>
  </div>
  <div>
      <label for="id_email">Email: </label>
      <input type="email"
             class="form-input"
             id="id_email"
             name="email"
             placeholder="Email"
             value="{{ form.email.value }}"
             required>
      <div class="error">{{ form.email.errors }}</div>
  </div>
  <button type="submit" class="profile-save-button form-button">Сохранить</button>
  {% if change_pw_msg %}
  <p>{{ change_pw_msg }}</p>
  {% endif %}
</form>
<div class="profile-form-buttons-wrapper">
    <a href="#openModal" class="form-button remove-user-button">Удалить учётную запись</a>
    <a href="{% url 'users:password-change' %}" class="form-button change-pw-button">Сменить пароль</a>
</div>
{% endblock %}