{% extends 'users/base-profile.html' %}

{% block profile-form %}
<div class="profile-message">
    <p></p>
</div>
<form class="form-profile" action="{% url 'users:profile' user.pk %}" method="post">
{% csrf_token %}
  <div>
      <div class="input-wrapper">
          <div class="input-label-container">
              <input type="hidden" name="username" value="{{ user.username }}">
              <label for="id_first_name">Имя: </label>
              <div class="input-container">
                  <div>
                      <span class="fa fa-user-circle" aria-hidden="true"></span>
                  </div>
                  <input type="text"
                         class="form-input"
                         id="id_first_name"
                         name="first_name"
                         placeholder="Имя"
                         value="{% if user.first_name %}{{ user.first_name }}{% endif %}"
                         maxlength="20">
              </div>
          </div>
          <div class="error">
            <ul class="errorlist">
                <li class="error-first_name"></li>
            </ul>
          </div>
      </div>
  </div>
  <div>
      <div class="input-wrapper">
          <div class="input-label-container">
              <label for="id_last_name">Фамилия: </label>
              <div class="input-container">
                  <div>
                      <span class="fa fa-user-circle-o" aria-hidden="true"></span>
                  </div>
                  <input type="text"
                         class="form-input"
                         id="id_last_name"
                         name="last_name"
                         placeholder="Фамилия"
                         value="{% if user.last_name %}{{ user.last_name }}{% endif %}"
                         maxlength="20">
              </div>
          </div>
          <div class="error">
            <ul class="errorlist">
                <li class="error-last_name"></li>
            </ul>
          </div>
      </div>
  </div>
  <div>
      <div class="input-wrapper">
          <div class="input-label-container">
              <label for="id_email">Email: </label>
              <div class="input-container">
                  <div>
                      <span>@</span>
                  </div>
                  <input type="email"
                         class="form-input"
                         id="id_email"
                         name="email"
                         placeholder="Email"
                         value="{{ user.email }}"
                         required>
              </div>
          </div>
          <div class="error">
            <ul class="errorlist">
                <li class="error-email"></li>
            </ul>
          </div>
      </div>
  </div>
  <button type="submit" class="profile-save-button form-button">Сохранить</button>
  {% if change_pw_msg %}
  <p>{{ change_pw_msg }}</p>
  {% endif %}
</form>
<div class="profile-form-buttons-wrapper">
    <a href="#removeUser" class="form-button remove-user-button" data-toggle="modal"><span class="fa fa-ban" aria-hidden="true"></span> Удалить учётную запись</a>
    <a href="{% url 'users:password-change' %}" class="form-button change-pw-button">Сменить пароль</a>
</div>
<div class="modal fade" id="removeUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Вы уверены что хотите удалить свой профиль?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
          <form class="modal-form" action="{% url 'users:profile' user.pk %}" method="get">
            <input type="hidden" name="remove-user" value="true">
            <button type="submit" class="form-button">Да</button>
            <button type="button" class="form-button" data-dismiss="modal">Нет</button>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        let inputs = [];
        $.each($('.form-input'), function (){
            inputs.push($(this).val());
        });
        $('.form-profile').submit(function (e) {
            e.preventDefault();
            let newInputs = [];
            $.each($('.form-input'), function (){
                newInputs.push($(this).val());
            });
            if (inputs.toString() === newInputs.toString()) {
                return false;
            }
            inputs = newInputs
            $.ajax({
                data: $(this).serialize(),
                type: $(this).attr('method'),
                url: "{% url 'users:profile' user.pk %}",
                success: function (response) {
                    $('.profile-message p').css('display', 'block').text(response.message).delay(5000).fadeOut(1000);
                },
                error: function (response) {
                    $.each(response.responseJSON.errors, function (key, value) {
                        $('.error-'+key).text(value[0].message).css('display', 'block').delay(5000).fadeOut(1000);
                    })
                }
            });
            return false;
        });
    })
    function ajaxPagination() {
        $('.pagination a').each(function (index, el) {
            $(el).click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'GET',
                    url: $(el).attr('href'),
                    success: function (response) {
                        $('.form-orders-wrapper').empty().append($(response).find('.form-orders-wrapper').html());
                    }
                });
            });
        });
    }
    function ajaxSearch() {
        $('.search-form').submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                url: "{% url 'users:profile' user.id %}",
                data: {'search': $('#id_search').val()},
                success: function (response) {
                    $('.form-orders-wrapper').empty().append($(response).find('.form-orders-wrapper').html());
                }
            });
        })
    }
    $(document).ready(function () {
        ajaxPagination();
        ajaxSearch();
    })
    $(document).ajaxStop(function () {
        ajaxPagination();
    })
</script>
{% endblock %}