{% extends 'main/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_auth.css' %}">
{% endblock %}

{% block content %}
<div class="logo-wrapper">
    <div class="logo-container">
        <div class="form-wrapper">
            <div class="form-header form-font">Регистрация</div>
            <div class="form-container">
                <form class="form-registration form-font" action="{% url 'users:registration' %}" method="post">
                    {% csrf_token %}
                    <div>
                        <div class="input-wrapper">
                            <div class="input-label-container">
                                <label for="id_username">{{ form.username.label }}*:</label>
                                <div class="input-container">
                                    <div>
                                        <span class="fa fa-user-circle" aria-hidden="true"></span>
                                    </div>
                                    <input type="text"
                                           class="form-input"
                                           id="id_username"
                                           placeholder="{{ form.username.label }}"
                                           value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                                           name="username"
                                           required>
                                </div>
                            </div>
                            <div class="error">
                                <ul class="errorlist">
                                    <li class="error-username"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="input-wrapper">
                            <div class="input-label-container">
                                <label for="id_email">{{ form.email.label }}*:</label>
                                <div class="input-container">
                                    <div>
                                        <span>@</span>
                                    </div>
                                    <input type="email"
                                           class="form-input"
                                           id="id_email"
                                           placeholder="{{ form.email.label }}"
                                           value="{% if form.email.value %}{{ form.email.value }}{% endif %}"
                                           name="email"
                                           required>
                                </div>
                            </div>
                            <div class="error">
                                <ul class="errorlist">
                                    <li class="error-email"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="input-wrapper">
                            <div class="input-label-container">
                                <label for="id_password1">{{ form.password1.label }}*:</label>
                                <div class="input-container">
                                    <div>
                                        <span class="fa fa-lock" aria-hidden="true"></span>
                                    </div>
                                    <input type="password"
                                           class="form-input"
                                           id="id_password1"
                                           placeholder="{{ form.password1.label }}"
                                           value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}"
                                           name="password1"
                                           required>
                                </div>
                            </div>
                            <span class="fa fa-check input-check" aria-hidden="true"></span>
                            <div class="error fixed-error">
                                <ul class="errorlist">
                                    <li class="error-password1"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="input-wrapper">
                            <div class="input-label-container">
                                <label for="id_password2">{{ form.password2.label }}*:</label>
                                <div class="input-container">
                                    <div>
                                        <span class="fa fa-lock" aria-hidden="true"></span>
                                    </div>
                                    <input type="password"
                                           class="form-input"
                                           id="id_password2"
                                           placeholder="{{ form.password2.label }}"
                                           value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}"
                                           name="password2"
                                           required>
                                </div>
                            </div>
                            <span class="fa fa-check input-check" aria-hidden="true"></span>
                            <div class="error fixed-error">
                                <ul class="errorlist">
                                    <li class="error-password2"></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <button class="form-button" type="submit">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
          $('form').submit(function (e) {
              e.preventDefault();
              $.ajax({
                  data: $(this).serialize(),
                  type: $(this).attr('method'),
                  url: "{% url 'users:registration' %}",
                  success: function () {
                      window.location.replace('{% url "main:home" %}');
                  },
                  error: function (response) {
                      $.each(response.responseJSON.errors, function (key, value) {
                          $('.error-'+key).text(value[0].message).css('display', 'block').delay(5000).fadeOut(1000);
                      })
                      $('.input-check').hide()
                      $('.error-with-check').each(function () {
                          $(this).removeClass('error-with-check')
                      })
                      $('#id_password1').css('background-color', 'white')
                      $('#id_password2').css('background-color', 'white')
                  }
              });
              return false;
          });
          $('#id_password2').keyup(function () {
              let pw1 = $('#id_password1')
              let pw2 = $('#id_password2')
              let pwVal1 = pw1.val()
              let pwVal2 = pw2.val()
              if (pwVal2.length >= pwVal1.length && pwVal1.length >= 8) {
                  if (pwVal1 === pwVal2) {
                      $('.input-check').removeClass('fa-times').addClass('fa-check').css('color', 'rgb(36, 196, 108)').show()
                      pw1.css('background-color', 'rgb(231, 255, 242)')
                      pw2.css('background-color', 'rgb(231, 255, 242)')
                  } else {
                      $('.input-check').removeClass('fa-check').addClass('fa-times').css('color', 'rgb(166, 49, 55)').show()
                      pw1.css('background-color', 'rgb(247, 227, 224)')
                      pw2.css('background-color', 'rgb(247, 227, 224)')
                  }
                  $('.fixed-error').each(function () {
                      $(this).addClass('error-with-check')
                  })
              } else {
                  $('.input-check').hide()
                  $('.error-with-check').each(function () {
                      $(this).removeClass('error-with-check')
                  })
                  pw1.css('background-color', 'white')
                  pw2.css('background-color', 'white')
              }


          })
    })
</script>
{% endblock %}