{% extends 'main/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_accept.css' %}">
{% endblock %}

{% block content %}
<div class="logo-wrapper">
    <div class="logo-container">
        <div class="form-header form-font">
                Детали заказа
        </div>
        <div class="form-order-container form-font">
            <div class="order-number-title">
                <p>Заказ №{{ order_number }}</p>
            </div>
            <form class="form-accept" method="POST">
                {% csrf_token %}
                <table class="table table1 table-fill table-bordered">
                  <tbody>
                    <tr>
                      <td>Email</td>
                      <td id="email-field">{{ user.email }}</td>
                    </tr>
                    <tr>
                      <td>Телефон</td>
                      <td id="phone-field"></td>
                    </tr>
                  </tbody>
                </table>
                <table class="table table2 table-fill table-bordered">
                  <tbody id="prices-table">
                  </tbody>
                </table>
                <div class="form-accept-buttons">
                    <button class="form-button form-font button-back">Назад</button>
                    <button type="submit" class="form-button form-font">Оплатить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
$(document).ready(function () {
  const order = JSON.parse(localStorage.getItem('order'))
  $('#phone-field').text(order.phone_number)
  $('form').submit(function (e) {
    e.preventDefault()
    const csrfToken = getCookie('csrftoken')
    $.ajax({
        data: {'order': JSON.stringify(order)} ,
        headers: {
          'X-CSRFToken': csrfToken
        },
        type: $(this).attr('method'),
        url: "{% url 'main:accept-done' %}",
        success: function () {
            window.location.replace('{% url 'main:accept-done' %}')
        }
    })
  })
  $('.button-back').click(function () {
      window.location.replace('{% url "main:new-order" %}');
  })
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = jQuery.trim(cookies[i]);
        if (cookie.startsWith(name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break
        }
      }
    }
    return cookieValue
  }
})
</script>
{% endblock %}


