{% load static %}
{% load main_tags %}
{% menu as menu %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}{% endblock %}
    <title>{{ title }}</title>
</head>
<body>
    <div class="bd">
        <div class="main">
            <div class="nav-wrapper">
                <div class="drop">
                    <button class="menu-button">&#9776;</button>
                    <div class="nav-buttons">
                        <div class="border-first-btn"></div>
                        {% for item in menu %}
                            <a href="{% if not user.is_authenticated and item.name == 'Новый заказ' %}{% url 'users:login' %}{% else %}{% url item.url %}{% endif %}">{{ item.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="logo">
                    <div class="auth-button">
                        <img src="{% static 'images/user.png' %}">
                        <div class="nav-buttons auth-drop">
                            {% if user.is_authenticated %}
                            <div class="nav-buttons"><a href="{% url 'users:profile' %}">Профиль</a></div>
                            {% else %}
                            <div class="nav-buttons"><a href="{% url 'users:login' %}">Вход</a></div>
                            <div class="nav-buttons"><a href="{% url 'users:registration' %}">Регистрация</a></div>
                            {% endif %}
                        </div>
                    </div>
                    <a href="{% url 'main:home' %}">Telegram bots</a>
                    <p>
                        <a class="logo-url" href="{% url 'main:home' %}"><img src="{% static 'images/tg.png' %}" alt="telegram-logo"></a>
                    </p>
                </div>
            </div>
            {% block content %}{% endblock %}
            {% block content-2 %}{% endblock %}
            <div class="footer-space"></div>
        </div>
        <footer>
            <div class="footer-wrapper-1">
                <div class="footer-container">
                    <p>МЕНЮ</p>
                    <ul>
                    {% for item in menu %}
                        <li><a href="{% url item.url %}">{{ item.name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="footer-container">
                    <p>КОНТАКТЫ</p>
                    {% contact_list as contacts %}
                    {% for contact in contacts %}
                        {% autoescape off %}
                        <p>{{ contact.str_image }} {{ contact.title }}: {{ contact.value }}</p>
                        {% endautoescape %}
                    {% endfor %}
                </div>
            </div>
            <div class="footer-wrapper-2">
                <p>© Telegram-bots 2024 г.</p>
            </div>
        </footer>
    </div>
</body>
</html>