{% extends 'main/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_contacts.css' %}">
{% endblock %}

{% block content %}
<div class="logo-wrapper">
    <div class="logo-container">
        <p class="contacts-title">Контакты</p>
        <div class="contacts-wrapper">
        {% for contact in contacts %}
            <div class="contacts-container">
                <div class="contacts-image">
                    <span class="{{ contact.str_image }}" aria-hidden="true"></span>
                </div>
                <div class="contacts-data">
                    <p class="contacts-data-title">{{ contact.title }}</p>
                    <p>{{ contact.value }}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

