{% extends 'main/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="logo-wrapper">
    <div class="logo-container">
        <p class="logo-title-1">Telegram бот</p>
        <p class="logo-title-2">для вашего бизнеса</p>
        <img src="{% static 'images/tg.png' %}" alt="telegram-logo" id="hideBlock">
    </div>
</div>
{% endblock %}

{% block content-2 %}
<div class="content-wrapper">
    <div class="left"></div>
    <div class="content-container">
        <div class="sidebar-left"></div>
        <div class="content">
            <div class="content-top">
            </div>
            <div class="content1"><p>Что мы</p> <p>предлагаем</p></div>
        </div>
        <div class="sidebar-right"></div>
    </div>
    <div class="right"></div>
</div>
{% endblock %}


