{% extends 'main/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="logo-wrapper">
    <div class="logo-container">
        <p class="logo-title-1">Telegram бот</p>
        <p class="logo-title-2">для вашего бизнеса</p>
        <img src="{% static 'images/tg.png' %}" alt="telegram-logo" id="hideBlock">
    </div>
</div>
{% endblock %}

{% block content-2 %}
<div class="content-wrapper">
    <div class="left"></div>
    <div class="content-container">
        <div class="sidebar-left"></div>
        <div class="content">
            <div class="content-top"></div>
            <div id="slider" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="9000">
              <!-- Indicators/dots -->
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#slider" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#slider" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#slider" data-bs-slide-to="2"></button>
              </div>
              <!-- The slideshow/carousel -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{% static 'images/1-main-page.gif' %}" alt="Los Angeles" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'images/2-main-page.gif' %}" alt="Chicago" class="d-block w-100">
                </div>
                <div class="carousel-item">
                  <img src="{% static 'images/3-main-page.gif' %}" alt="New York" class="d-block w-100">
                </div>
              </div>

              <!-- Left and right controls/icons -->
              <button class="carousel-control-prev" type="button" data-bs-target="#slider" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#slider" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
              </button>
            </div>
        </div>
        <div class="sidebar-right"></div>
    </div>
    <div class="right"></div>
</div>
{% endblock %}


