{% extends 'main/base.html' %}
{% load static %}
{% load main_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_new_order.css' %}">
{% endblock %}

{% block content %}
<div class="logo-wrapper">
    <div class="logo-container">
        <div class="form-header form-font">
            Новый заказ
        </div>
        <div class="form-container form-font">
            <form action="/new-order/" method="post">
                {% csrf_token %}
                <p class="phone_number_field">
                    <label for="id_phone_number">Телефон:</label>
                    <input class="form-input" type="tel" name="phone_number" value="" required="" id="id_phone_number" placeholder="Телефон">
                </p>
                <div class="error">{{ form.phone_number.errors }}</div>
                <div class="form-buttons-wrapper">
                    {% product_list as prices %}
                    {% for item in prices %}
                    {% if forloop.first %}
                    <p>{{ item.title }} {{ item.price }} &#x20bd;</p>
                    <div class="form-func-title">Дополнительные функции</div>
                    <div class="form-buttons-container">
                        <div class="title-container">
                    {% else %}
                            <p>{{ item.title }} {{ item.price }} &#x20bd;</p>
                    {% endif %}
                    {% endfor %}
                        </div>
                        <div class="buttons">
                            <p>
                                <label class="checkbox-green">
                                <input type="checkbox" name="admin_panel" id="id_admin_panel" {% if request.POST.admin_panel %}checked{% endif %}>
                                <span class="checkbox-green-switch" data-label-on="On" data-label-off="Off"></span>
                                </label>
                            </p>
                            <p>
                                <label class="checkbox-green">
                                <input type="checkbox" name="database" id="id_database" {% if request.POST.database %}checked{% endif %}>
                                <span class="checkbox-green-switch" data-label-on="On" data-label-off="Off"></span>
                                </label>
                            </p>
                        </div>
                    </div>
                </div>
                <button type="submit" class="form-button btn-next form-font">Далее</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}


