{% extends 'main/base.html' %}
{% load static %}
{% load main_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_new_order.css' %}">
{% endblock %}

{% block content %}
<div class="logo-wrapper">
    <div class="logo-container">
        <div class="form-header form-font">
            Новый заказ
        </div>
        <div class="form-container form-font">
            <form action="/new-order/" method="post">
                {% csrf_token %}

                <label for="id_phone_number">Телефон:</label>
                <input type="tel" name="phone_number" value="8901733117" required="" id="id_phone_number">
                <div class="error">{{ form.phone_number.errors }}</div>

                <label for="id_admin_panel">Админ-панель:</label>
                <input type="checkbox" name="admin_panel" id="id_admin_panel">

                <label for="id_database">База данных:</label>
                <input type="checkbox" name="database" id="id_database">

                <button type="submit">Далее</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}


