{% extends 'main/base.html' %}
{% load static %}
{% load main_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_prices.css' %}">
{% endblock %}

{% block content %}
<div class="logo-wrapper">
    <div class="logo-container">
        <div class="container">
            <div class="package-container">
            {% product_list as products %}
            {% for product in products %}
              <div class="packages">
                <h1>{{ product.title }}</h1>
                <h2 class="text">{{ product.price|stringformat:"i"|add:".00" }} &#x20bd;</h2>
                <div class="list">
                  <p>{{ product.description }}</p>
                </div>
                <a href="{% url 'main:new-order' %}" class="button">Оформить заказ</a>
              </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


