{% extends 'main/base.html' %}
{% load static %}
{% load main_tags %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_prices.css' %}">
{% endblock %}

{% block content %}
<div class="logo-wrapper">
    <div class="logo-container">
        <table>
            <tr>
                <th>№</th>
                <th>Наименование</th>
                <th>Цена, руб.</th>
                <th>Описание</th>
            </tr>
            {% product_list as products %}
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>
            </tr>
            {% endfor %}  
        </table>
    </div>
</div>
{% endblock %}


