{% extends 'main/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/style_prices.css' %}">
{% endblock %}

{% block content %}
<div class="logo-wrapper">
    <div class="logo-container">
        <table>
            <tr>
                <th>№</th>
                <th>Наименование</th>
                <th>Цена, руб.</th>
                <th>Описание</th>
            </tr>
            {% for item in price_list %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.product }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.desc }}</td>
            </tr>
            {% endfor %}  
        </table>
    </div>
</div>
{% endblock %}


